# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/.gitignore
.idea/compiler.xml
.idea/discord.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
build/
src/test/resources/application-oauth.properties